
body {
    background: #121212;
    margin: 0;
    
    overflow: hidden;
  }
  
  
  @keyframes fadeIn {
      from {opacity: 0;}
      to {opacity: 1;}
  }
  
  @keyframes chill {
      from {opacity: 1;}
      to {opacity: 1;}
  }
  
  @keyframes fadeOut {
      from {opacity: 1;}
      to {opacity: 0;}
  }
  
 p {
    position: absolute;
    top: 10px;
    left: 12px;
    color: white;
    /* opacity: 0; */
    font-family: "Source Sans Pro";
    animation: fadeIn 1s ease-out, chill 1s 1s, fadeOut 1s 1s;
    animation-iteration-count:  infinite;
  }
 
  
 
  .myh1{
    
    position: absolute;
    top: 40%;
    
    left: 30%;
    
    color: white;
    /* opacity: 100; */
    font-size: 50px;
    font-family: 'Russo One', sans-serif;
    letter-spacing: 3px;
  }

  .aboutmepara{
    position: absolute;
    top: 60%;
    
    left: 30%;
    
    color: white;
    /* opacity: 100; */
    font-size: 17px;
    font-family: 'Russo One', sans-serif;
    letter-spacing: 3px;

  }